.todoList {
    font-weight: 400;
    font-size: 8px;
    color: #44474B;
    padding: 0 4px;
}

.todoContainer {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.todoBox {
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 2px;
}

