.inputContainer {
    width: -webkit-fill-available;
    background-color: #F2F2F2;
    border-radius: 30px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.inputStyle {
    width: 88%;
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: #838383;
}

.inputStyle:focus {
    outline: none;
}

.autoLoginContainer {
    display: flex;
    align-items: center;
}

.checkboxStyle {
    margin: 0 6px 0 12px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: #F2F2F2;
}

input[type="checkbox"]:checked {
    background-color: #6FA5EB;
}

input[type="checkbox"]:checked::after {
    content: '✓';
    font-size: 14px;
    color: white;
    position: relative;
    left: 14%;
    bottom: 12%;
}

.checkboxText {
    font-size: 11px;
    color: #4C4C4C;
}